*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  border: none;
  background-color: transparent;
  font-size: 25px;
  cursor: pointer;
}

.error-wrapper {
  display: none;
}

.error {
  color: #ff0000;
}

input[placeholder='Price'] {
  padding: 10px;
  border: 1px solid #333;
}