.apply__theme {
    width: 60%;
    min-height: 300px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 7px;
}
.header{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.text{
    margin-bottom: 70px;
}

.onoffswitch {
    position: relative; width: 104px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #756464; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 50px; padding: 0; line-height: 50px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "dark";
    padding-left: 10px;
    background-color: #7c5e5e;
    color: #2f3a3c;
}
.onoffswitch-inner:after {
    content: "light";
    padding-right: 10px;
    background-color: #cfc9c9;
    color: #697880;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 38px; margin: 6px;
    background: #705757;
    position: absolute; top: 0; bottom: 0;
    right: 50px;
    border: 2px solid #756464; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #EBE9AE;
}